<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>results</title>
  </head>
  <body>
    <form class="" action="/goback" method="post">
      <fieldset>
        <legend>Submitted Information</legend>
          <h3>Name: <%= results.name %></h3>
          <h3>Dojo Location: <%= results.location %></h3>
          <h3>Favorite Language:<%= results.language %></h3>
          <h3>Comment:<%= results.comment %></h3>
          <hr>
          <input type="submit" name="goback" value="Go Back">
        </fieldset>
    </form>
  </body>
</html>
